:root {
  --darkred: #ff3838;
  --lightred: #fc5c65;
}

/* body {
  position: relative;
  padding-bottom: 8rem;
  min-height: 90vh;
} */

/* CHAT WINDOW */

.main-window {
  display: flex;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.video-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  position: relative;
  transition: all 0.3s;
}

.video-window-small {
  width: 70%;
}

.video-window-large {
  width: 100%;
}

.chat-window {
  height: 100vh;
  background-color: var(--darkblue);
  font-size: 2rem;
  position: absolute;
  overflow-y: auto;
  right: 0;
  overflow-x: hidden;
  transition: all 0.3s;
}

.dummy-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-window-open {
  left: 70%;
}

.chat-window-close {
  left: 100%;
}

.chat-window h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: white;
}

.chat-box {
  overflow-y: auto;
  background-color: var(--lightblue);
  flex-grow: 1;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
}

.msg {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--darkblue);
  color: white;
  max-width: 90%;
  word-wrap: break-word;
  clear: both;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.msg span {
  color: red;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

#chatbtn {
  margin-left: 1rem;
  background-color: var(--darkblue);
  border: 2px solid var(--darkblue);
}

#chatbtn:hover {
  background-color: white;
  color: var(--darkblue);
  cursor: pointer;
}

.chat-btns {
  width: 100%;
}

.chat-btns input,
textarea {
  display: block;
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
}

#inputText {
  margin-bottom: 1rem;
  resize: none;
}

#sendBtn {
  color: black;
  background-color: #0be881;
  transition: all 0.2s;
}

#sendBtn:hover {
  cursor: pointer;
  background-color: #05c46b;
}
/* VIDEO WINDOW  */

h1 {
  margin: 2rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--darkblue);
  word-spacing: 0.1rem;
  letter-spacing: 0.3rem;
}

#welcomeMsg {
  color: #ff3838;
}

#video-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-shadow: 0rem 0.1rem 2rem 0rem rgba(0, 0, 0, 0.281);
  flex-wrap: wrap;
  /* padding: 1rem; */
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.video-div {
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.377);
  height: auto;
  margin: 1rem;
}

.video-div p {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  display: flex;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  justify-content: space-between;
}

.control-btns-container {
  display: flex;
}

.control-btn {
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  background-color: var(--darkblue);
  border: 0.15rem solid var(--darkblue);
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.2s;
}

.control-btn:hover {
  cursor: pointer;
  color: var(--darkblue);
  background-color: white;
}

video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: auto;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  transition: all 0.2s;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.btn span {
  margin-left: 0.5rem;
}

#endbtn {
  background: var(--darkred);
  border: 0.15rem solid var(--darkred);
  margin-right: 1rem;
}

#endbtn:hover {
  background-color: white;
  color: var(--darkred);
  cursor: pointer;
}

#invitebtn {
  background: var(--darkblue);
  border: 0.15rem solid var(--darkblue);
}

#invitebtn:hover {
  background-color: white;
  color: var(--darkblue);
  cursor: pointer;
}
@media (max-width: 650px) {
  #video-container {
    justify-content: center;
  }

  .video-div {
    width: 96%;
  }
}

/* participants  */
#participantbtn {
  margin-left: 1rem;
  background: var(--darkblue);
  border: 0.15rem solid var(--darkblue);
}

#participantbtn:hover {
  background-color: white;
  color: var(--darkblue);
  cursor: pointer;
}

.modal-container {
  position: fixed;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s;
  overflow: hidden;
  z-index: 1;
}

.open-modal {
  height: 60vh;
}

.close-modal {
  height: 0vh;
}

.modal-content {
  position: relative;
  width: 90%;
  color: white;
  font-weight: bold;
  height: 80%;
  box-shadow: 0rem 0.1rem 2rem 0rem rgb(0 0 0 / 28%);
  border-radius: 1rem;
  background-color: var(--lightblue);
}

.inner-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 2rem;
  padding: 1rem;
}

#modalCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  height: 4rem;
  width: 4rem;
  background-color: var(--darkblue);
  border: 0.2rem solid var(--darkblue);
  border-radius: 50%;
  font-size: 2.5rem;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalCloseBtn:hover {
  cursor: pointer;
  color: var(--darkblue);
  background-color: white;
}

.list {
  padding-left: 4rem;
}

/* Responsive design */
@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-end;
  }

  .btn {
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
  }

  .chat-window-open {
    left: 50%;
  }

  .video-window-small {
    width: 50%;
  }

  .modal-container {
    width: 80vw;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }

  .chat-window-open {
    left: 40%;
  }

  .video-window-small {
    width: 40%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 6px;
  }

  .modal-container {
    width: 90vw;
  }
}
